<?php
/**
 * Copy this file to git-config.php and place it (with your settings inside) near git.php
 */
return array(

    /**
     * Path to git bin. Default: "git"
     */
    'git' => '/usr/bin/git',

    /**
     * Path to project. Default: "."
     */
    'dir' => '.',

    /**
     * array of allowed commands. Default: empty array (all are allowed)
     * You can use * for any symbol.
     * Example: "branch*" will allow both "branch" and "branch -v" commands
     */
    'allow' => array(),

    /**
     * array of denied commands. Default: empty array (none is denied)
     * You can use * for any symbol.
     */
    'deny' => array(
        "push*",
    ),

);
